@font-face {
  font-family: "NEXON Lv1 Gothic";
  font-style: normal;
  font-weight: 300;
  src: local("NEXON Lv1 Gothic"), url("../assets/fonts/NEXON Lv1 Gothic OTF Light.woff") format("woff"), url("../assets/fonts/NEXONLv1GothicLight.ttf") format("truetype"), url("../assets/fonts/NEXON Lv1 Gothic OTF Light.otf") format("opentype");
}
@font-face {
  font-family: "NEXON Lv1 Gothic";
  font-style: normal;
  font-weight: 400;
  src: local("NEXON Lv1 Gothic"), url("../assets/fonts/NEXON Lv1 Gothic OTF.woff") format("woff"), url("../assets/fonts/NEXONLv1GothicRegular.ttf") format("truetype"), url("../assets/fonts/NEXON Lv1 Gothic OTF.otf") format("opentype");
}
@font-face {
  font-family: "NEXON Lv1 Gothic";
  font-style: normal;
  font-weight: 700;
  src: local("NEXON Lv1 Gothic"), url("../assets/fonts/NEXON Lv1 Gothic OTF Bold.woff") format("woff"), url("../assets/fonts/NEXONLv1GothicBold.ttf") format("truetype"), url("../assets/fonts/NEXON Lv1 Gothic OTF Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NEXON Lv1 Gothic", sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100dvh;
}

h1 {
  font-size: 3.75rem;
  line-height: 125%;
}
@media all and (width < 360px) {
  h1 {
    font-size: 3rem;
  }
}

span {
  font-size: 1rem;
  line-height: 200%;
}
@media all and (width < 360px) {
  span {
    font-size: 0.8rem;
  }
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF6E1;
}
#app > .swiper-pagination {
  width: 100%;
  max-width: 30rem;
  height: 0.25rem;
  position: fixed;
  top: 0;
  left: unset;
  background: #E63E5A;
}
#app > .swiper-pagination > .swiper-pagination-progressbar-fill {
  border-radius: 2rem !important;
  background: #FFF6E1;
}
#app > .swiper {
  width: 100%;
  max-width: 30rem;
  height: 100%;
  background: #FF617C;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.6);
}
#app > .swiper .swiper-slide:not(footer) {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}
#app > .swiper .swiper-slide:not(footer) > .section-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app > .swiper .swiper-slide:not(footer) > .section-inner > .image-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app > .swiper .swiper-slide:not(footer) > .section-inner > .text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app > .swiper .swiper-slide:not(footer)#intro .logo-symbol {
  width: 12.5rem;
}
@media all and (width < 360px) {
  #app > .swiper .swiper-slide:not(footer)#intro .logo-symbol {
    width: 10rem;
  }
}
#app > .swiper .swiper-slide:not(footer)#intro .image-burger {
  width: 18.75rem;
  filter: drop-shadow(0 1rem 1rem #BF2F47);
  transform: translateY(-2.5rem);
}
@media all and (width < 360px) {
  #app > .swiper .swiper-slide:not(footer)#intro .image-burger {
    width: 15rem;
  }
}
#app > .swiper .swiper-slide:not(footer)#intro .angle {
  width: 2rem;
  position: absolute;
  bottom: 2rem;
  animation: angle 1s ease infinite alternate;
}
#app > .swiper .swiper-slide:not(footer)#brand > .section-inner {
  gap: 3rem;
}
#app > .swiper .swiper-slide:not(footer)#brand > .section-inner > .logo-full {
  width: 16.625rem;
}
@media all and (width < 360px) {
  #app > .swiper .swiper-slide:not(footer)#brand > .section-inner > .logo-full {
    width: 13.3rem;
  }
}
#app > .swiper footer {
  width: 100%;
  height: auto !important;
  padding: 0 2rem;
  background: #E63E5A;
}
#app > .swiper footer > .footer-inner {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

@keyframes angle {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.5rem);
  }
}

/*# sourceMappingURL=common.css.map */
