@import "preset";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NEXON Lv1 Gothic", sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100dvh;
}

h1 {
  font-size: 3.75rem;
  line-height: 125%;
  @include vp-sm {
    font-size: calc(3.75rem * .8);
  }
}

span {
  font-size: 1rem;
  line-height: 200%;
  @include vp-sm {
    font-size: calc(1rem * .8);
  }
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-primary;

  > .swiper-pagination {
    width: 100%;
    max-width: 30rem;
    height: .25rem;
    position: fixed;
    top: 0;
    left: unset;
    background: $pink-darker;

    > .swiper-pagination-progressbar-fill {
      border-radius: 2rem !important;
      background: $white-primary;
    }
  }

  > .swiper {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    background: $pink-primary;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, .6);

    .swiper-slide:not(footer) {
      width: 100%;
      height: 100%;
      padding: 0 1rem;

      > .section-inner {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > .image-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        > .text-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }

      &#intro {

        .logo-symbol {
          width: 12.5rem;
          @include vp-sm {
            width: calc(12.5rem * .8);
          }
        }

        .image-burger{
          width: 18.75rem;
          filter: drop-shadow(0 1rem 1rem $pink-shadow);
          transform: translateY(-2.5rem);
          @include vp-sm {
            width: calc(18.75rem * .8);
          }
        }

        .angle {
          width: 2rem;
          position: absolute;
          bottom: 2rem;
          animation: angle 1s ease infinite alternate;
        }
      }

      &#brand {

        > .section-inner {
          gap: 3rem;

          > .logo-full {
            width: 16.625rem;
            @include vp-sm {
              width: calc(16.625rem * .8);
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      height: auto !important;
      padding: 0 2rem;
      background: $pink-darker;

      > .footer-inner {
        width: 100%;
        height: 100%;
        padding: 1rem 0;
      }
    }
  }
}

@keyframes angle {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(.5rem);
  }
}






//@import "preset";
//
//* {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//  font-family: "NEXON Lv1 Gothic", sans-serif;
//}
//
//html {
//  font-size: 16px;
//}
//
//body {
//  width: 100%;
//  height: 100dvh;
//}
//
//h1 {
//  font-size: 3.75rem;
//  line-height: 125%;
//}
//
//#app {
//  width: 100%;
//  max-width: 36rem;
//  margin: 0 auto;
//  background: $pink-primary;
//  box-shadow: 0 0 .625rem rgba(0, 0, 0, .5);
//  color: $white-primary;
//
//  > main, footer {
//    width: 100%;
//  }
//
//  > main {
//    padding-bottom: 10rem;
//
//    > section {
//      width: 100%;
//      padding: 0 1rem;
//      display: flex;
//      justify-content: center;
//      align-items: center;
//
//      > .section-inner {
//        width: 100%;
//        height: 100%;
//        padding: 5rem 0;
//        position: relative;
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//        align-items: center;
//
//        > .image-wrapper {
//          width: 100%;
//          display: flex;
//          flex-direction: column;
//          justify-content: center;
//          align-items: center;
//        }
//
//        > .text-wrapper {
//          width: 100%;
//          display: flex;
//          flex-direction: column;
//          justify-content: center;
//          align-items: center;
//        }
//      }
//
//      &#intro {
//        min-height: 100svh;
//
//        .logo-symbol {
//          width: 12.5rem;
//        }
//
//        .image-burger {
//          width: 100%;
//          max-width: 18.75rem;
//          filter: drop-shadow(0 1rem 1rem $pink-shadow);
//          transform: translateY(-2.5rem);
//        }
//      }
//
//      &#brand {
//
//        > .section-inner {
//          gap: 3rem;
//        }
//      }
//    }
//  }
//
//  > footer {
//    padding: 0 2rem;
//    background: $pink-darker;
//
//    > .footer-inner {
//      width: 100%;
//      padding: 1.5rem 0;
//
//      > span {
//        line-height: 200%;
//      }
//    }
//  }
//}
